body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* index.css */
body {
  background-color: #f7f8fc;
  color: #333;
}

h2 {
  color: #5a5a5a;
}

button {
  font-size: 14px;
}

.task-item {
  background-color: white;
  transition: box-shadow 0.3s ease;
}

.task-item:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
